.item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 40px;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}

.item strong {
    margin: 0 10px;
}

.item input {
    cursor: pointer;
}

.cross {
    background: red;
    border: solid 1px red;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 0 10px;
    color: white;
    outline: none;
    border-radius: 20px;
}

.cross:hover {
    background: rgb(243, 39, 39);
}

.done {
    text-decoration: line-through;
}

.check {
    background: blue;
    border: solid 1px blue;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    margin: 0 10px;
    color: white;
    outline: none;
    border-radius: 20px;
}

.check:hover {
    background: rgb(54, 54, 255);
}